@model IEnumerable<WebDetyra.Models.Useri>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmriUserit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailUserit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordUserit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mbiemri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmriUserit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailUserit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordUserit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mbiemri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
